$colors: (
    bg: #282c34,
    bgLight: lighten(#2c313c, 5%),
    grey: #abb2bf,
    red: #e06c75,
    orange: #d19a66,
    green: #98c379,
    link: #56b6c2,
    idBlue: #61afef,
    jsYellow: #e5c07b,
    purple: #c678dd,
);
@function color($color-name){
    @return map-get($colors, $color-name);
}
.grey{ color: color(grey); }
.red{ color: color(red); }
.orange{ color: color(orange); }
.purple{ color: color(purple); }
.linkBlue{ color: color(link);}
.green{ color: color(green);}

$spacing: 130px;

@mixin less512 {
    @media (max-width: 512px){
        @content;
    }
}
@mixin less600 {
    @media (max-width: 600px){
        @content;
    }
}
@mixin less800 {
    @media (max-width: 800px){
        @content;
    }
}
@mixin less1100 {
    @media (max-width: 1100px){
        @content;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
body{
    background-color: color(bg);
}
section{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    header{
        text-align: center;
        padding: $spacing 0;
    }
}
a{
    color: color(link);
    text-decoration: none;
    &:visited{
        color: color(link);
    }
    &:hover{
        text-decoration: underline;
    }
}
h1{
    font-size: 34px;
}
h2{
    display: inline;
}
.flex-row{
    display: flex;
}
.button{
    height: 60px;
    border: 2px solid color(grey);
    background: color(bg);
    min-width: 140px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: color(link);
    cursor: pointer;
    &:hover{
        background-color: color(bgLight);
        text-decoration: none;
    }
}
.small-button{
    max-width: 160px;
}
.nav-button{
    height: 50px;
    border: 2px solid color(grey);
    background: color(bg);
    min-width: 100px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: color(link);
    cursor: pointer;
    &:hover{
        background: color(bgLight);
    }
    @include less512{
        font-size: 14px;
        height: 40px;
        min-width: 60px;
    }
}
.circle-button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid color(grey);
    background: color(bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: color(link);
    cursor: pointer;
    &:hover{
        background-color: color(bgLight);
        text-decoration: none;
    }
}
#main-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    #skills-holder{
        margin-top: 24px;
        @include less600{
            height: 150px;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
    }
    #landing-page-buttons{
        margin-top: 30px;
        width: 300px;
        max-width: 96%;
        display: flex;
        justify-content: space-between;
        @include less600{
            height: 140px;
            flex-direction: column;
            align-items: center;
        }
    }
}

#projects-holder{
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 30px;
    // border: 1px solid red;
    .project{
        display: flex;
        align-items: flex-start;
        margin-bottom: 200px;
        @include less800{
            align-items: center;
            flex-direction: column;
        }
        .project-link{
            color: color(red);
            transition: background-color .3s;
            &:hover{
                text-decoration: none;
                background: color(bgLight);
            }
        }
        .project-text{
            margin-left: 160px;
            @include less800{
                margin-left: 0;
                margin-top: 60px;
                margin-bottom: 120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                p, a{
                    margin-top: 15px;
                }
            }
            .indent{
                padding-left: 15px;
            }
        }
        .project-img-holder{
            position: relative;
            padding-top: 6px;
            width: 312px;
            @include less600{
                width: auto;
            }
            .img-desktop, .img-mobile{
                height: 240px;
                border-radius: 4px;
                @include less600{
                    height: 140px;
                }
            }
            .img-mobile{
                height: 180px;
                position: absolute;
                bottom: 0px;
                right: -105px;
                @include less600{
                    right: -10px;
                    bottom:-5px;
                    height: 100px;
                }
            }
            #rpg-mobile{
                bottom: -10px;
                right:-120px;
                @include less600{
                    right: -50px;
                }
            }
        }
    }
}

#about-section{
    width: 100%;
    #wordcloud{
        display: block;
        margin: 0 auto;
        max-width: 94%;
    }
    #profile-holder{
        width: 1024px;
        max-width: 94%;
        display: flex;
        justify-content: center;
        margin: $spacing auto;
        @include less1100{
            margin-top: $spacing;
            align-items: center;
            flex-direction: column;
        }
        #profile-img-holder{
            display: block;
            max-width: 60%;
            object-fit: contain;
            border-radius: 50%;
            border: 5px solid color(green);
            height: 410px;
            align-self: flex-end;
            img{
                height:100%;
                width:100%;
            }
            @include less1100{
                height: auto;
                align-self: center;
            }
        }
        #profile-text{
            width: 600px;
            max-width: 100%;
            h1{
            text-align: center;
            margin-bottom: 40px;
            @include less1100{
                margin-top:40px;
            }
            }
            p{
                margin-left: 60px;
                @include less1100{
                    margin-left:0px;
                }
            }
            #social-links{
                margin-top: 30px;
                margin-left: 60px;
                font-size: 50px;
                color: white;
                @include less1100{
                    text-align: center;
                    margin-left:0;
                }
                a{
                    color: color(grey);
                    transition: color .3s;
                    &:hover{
                        color: color(link);
                    }
                }
            }
        }
    }
    #contact{
        width: 1024px;
        max-width: 100%;
        margin: $spacing auto;
        display: flex;
        justify-content: flex-end;
        #contact-form-holder{
            width: 540px;
            max-width: 94%;
            height: 750px;
            background: color(bgLight);
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
            @include less1100{
                width:94%;
                max-width: 600px;
                margin: 0 auto;
            }
            h1, form{
                margin-left: 40px;
                @include less1100{
                    margin:0 auto;
                }
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 20px;
                width: 100%;
                label{
                    margin: 15px 0 5px 0;
                    color: color(purple);
                    font-size: 22px;
                }
                input, textarea, button{
                    background: color(bg);
                    width: 85%;
                    transition: box-shadow ease .5s;
                    @include less1100{
                        margin: 0 auto;
                    }
                    &:focus{
                        box-shadow: 0px 1px 4px 3px color(green);
                    }
                }
                input, textarea{
                    color: color(grey);
                    font-size: 20px;
                    border: 2px solid color(grey);
                }
                label{
                    @include less1100{
                        margin-left: 15px;
                    }
                }
                input{
                    height: 35px;
                    padding: 10px;
                }
                textarea{
                    resize: none;
                    height: 350px;
                    padding: 10px;
                }
                button{
                    margin-top: 20px;
                    &:hover{
                        background: color(bgLight);
                    }
                }
            }
        }
    }
}

footer{
    .hidden{
        bottom: -220px;
    }
    .show{
        bottom: 0;
    }
    #footer-links-holder{
        position: relative;
        overflow: hidden;
    }
    .bottom-link{
        transition: ease 1s;
        position: absolute;
        height: 90px;
        width: 60px;
        color: color(grey);
        font-weight: bold;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #footer-text, #footer-links-holder{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


nav{
    position:fixed;
    top: 0;
    right: calc(50% - 256px);
    width: 512px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background: color(bgLight);
    z-index: 1;
    overflow: hidden;
    transition: ease .3s;
    @include less512{
        right: auto;
    }
        ul{
            display: flex;
            list-style: none;
            width: 350px;
            max-width: 100%;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            font-size: 18px;
            @include less512{
                justify-content: space-evenly;
            }
        }
}
.nav-hidden{
    height: 0;
}
.nav-show{
    height: 80px;
    box-shadow: 0px 1px 4px 3px color(green);
}

